.calendarC {
    margin: 50px auto 0;
    width: 350px auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    padding-top: 20px;
    border-top: 2rem solid rgb(99, 112, 149);
    padding-top: 1rem;
    width: 70%;
    border-radius: 30px;
}

.calendarC container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.calendarC ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.calendarC ul li {
    width: calc(100% / 7); 
    margin-top: 25px;
    position: relative;
    z-index: 2;
    font-weight: bold;
}

#prev, #next {
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    border: none; 
    background: transparent;
    cursor: pointer;
}

#prev::before, #next::before {
    content: ''; 
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;
}

#next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
#prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before, 
#next:hover::before {
    border-color: #000;
}

container h3 {
    position: absolute;  
    left: 50%;         
    transform: translateX(-50%); 
    margin: 0;           
}

.days {
    font-weight: 500;
}

.dates li.today {
    color: #fff;
}

.dates li.today::before {
    content: ''; 
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background:  rgb(66, 77, 107);
    border-radius: 50%;
    z-index: -1;
}

.days li.inactive {
    color: #ccc;
}
