{% extends "base.html" %}

{% block title %}
Calendar

{% endblock %}

{% block content %}
    <div class = "calendarC">
        <container>
            <nav>
                <h3></h3>
                <button id = "prev"></button>
                <button id = "next"></button>
            </nav>
        </container>
        <section>
            <ul class = "days">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
            </ul>
            <ul class = "dates"></ul>
        </section>
    </div>
{% endblock %}

{% block scripts %}
   <script src = "{{ url_for('static', filename = 'calendar.js') }}"></script>
{% endblock %}
