{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class = "home.page">
<h1>Welcome to TaskFlow</h1>
<p>Organize your tasks, track your goals, and achieve more every day.</p>
{%if not session.get('user_id')%}
<div class = "home-buttons">
    <a href = "{{ url_for('auth.login') }}" class = "btn btn-primary">Login</a>
    <a href="{{ url_for('auth.sign_up') }}" class="btn btn-secondary">Sign Up</a>
</div>
{% else %}
<a href = "{{ url_for('calendar.calendar')}}" class = "btn btn-primary">Go to Calendar</a>
{% endif %}
</div>

<!-- Key features: what the app offers-->
<section class = "features">
    <h2>Features</h2>
    <div class = "feature-list">
        <div class = "feature-card">
            <h3>Interactive Calendar</h3>
            <p>Click on days to manage tasks and track your progress.</p>
        </div>
        

{% endblock %}
